BasedOnStyle: Microsoft
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 140
PointerAlignment: Left
ReferenceAlignment: Left
InsertBraces: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
AccessModifierOffset: -4
SortIncludes: Never
StatementMacros:
  - UPROPERTY
  - UFUNCTION
  - UCLASS
  - USTRUCT
  - UENUM
  - GENERATED_BODY
